body{
    background-color:orchid ;
    color: white;
    
    }
    #contenido1 {
        background-color: blue;
        border-radius: 5px;
        text-align: center;
    }
    #contenido2 {
        background-color: royalblue;
        border-radius: 5px;
        text-align: center;
    }
    #contenido3 {
        background-color: cyan;
        border-radius: 5px;
        text-align: center;
    }